*{
    margin: 0;
    padding: 0;
}


canvas{
    background-color: antiquewhite;
}

.displayArea{
    position: relative;
    width: 100vw;
    /* height: 80px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
}

.feature {
    position: absolute;
    height: 60px;
    width: 100px;
    border: 0.5px solid #6bc0ee;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-weight: 600;
    font-size: larger;
    backdrop-filter: blur(5px);
    stroke-width: 6px;
    stroke: #009FFD;
    stroke-dashoffset: -220;
    transition: 1s all ease;
    /* color: #042c5f; */
    text-shadow: 5px 5px 10px #7d8fd8;
    /* box-shadow: 2px 5px 15px #e3efef; */
}

.feature:hover{
    backdrop-filter: blur(100px);
    border: 3px solid black;
}   

.play{
    margin-left: 25vw;
}
.play:hover{
    cursor: pointer;
}

.reset{
    margin-left: 42vw;
}
.score{
    margin-left: 60vw;
    padding: 4px;
    width: 140px;
    height: 56px;
}

.three{
    margin-left: 2vw;
}

.leader{
    margin-left: 85vw;
    width: 150px;
}
.score2{
    width: auto;
    height: 100%;
    display: flex;
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.slide{

    position: absolute;
    width: 250px;
    height: 600px;
    border: 2px solid black;
    margin-top: 760px;
    z-index: 5;
    margin-left: 20px;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: none;
}

.board{
    display: none;
    margin-top: 760px;
    margin-left: 500px;
    position: absolute;
    width: 450px;
    height: 600px;
    border: 2px solid black;
    z-index: 5;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    overflow-y: auto;
    scrollbar-color: #70d3dc #3862d6;
}

.sticker{
    display: none;
    text-align: center;
    align-content: center;
    width: 140px;
    height: 40px;
    position: absolute;
    border-radius: 1rem;
    border: 2px solid white;
    color: white;
    font-size: larger;
    font-weight: 600;
    margin-left: 43%;
    margin-top: 7%;
    background-color: rgb(183, 34, 183);
    z-index: 5;
}

.start{
    /* display: none; */
    position: absolute;
    margin-top: 780px;
    width: 450px;
    height: 300px;
    border: 3px solid rgb(55, 55, 55);
    margin-left: 550px;
    border-radius: 1rem;
    backdrop-filter: blur(12px);
    font-weight: 600;
    font-size: larger;
    text-shadow: 5px 5px 10px #7d8fd8;
    box-shadow: 5px 10px 15px black;
}

.input{
    margin-left: 20px;
    width: 50%;
    height: 25px;
    border: 1px solid blue;
    border-radius: 0.5rem;
    padding-left: 20px;
    /* background-color: none; */
    /* background-image: none; */
    backdrop-filter: blur(50px);

}

.div1,.div2{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px);

}

.detail{
    text-align: center;
    margin-top: 20px;
    backdrop-filter: blur(50px);

}

.enter{
    border: 3px solid white;
    border-radius: 1rem;
    width: 40%;
    height: 30px;
    padding-top: 5px;
    margin-top: 45px;
    margin-left: 250px;
    text-align: center;
    color: white;
}

.enter:hover{
    cursor: pointer;
}

.toast {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 15px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    font-size: 16px; 
  }
  
.board1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    border: 2px solid #3f7fac;
    margin-left: 5%;
    margin-top: 5px;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(to top, #3f7fac 0%, #fcfcff 100%);

}

.rank {
    text-align: center;
    width: 20%;
}
.name{
    text-align: center;
    width: 60%;
}
.Sscore{
    text-align: center;
    width: 20%;

}

.info {
    /* temporary */
    display: none;
    position: absolute;
    width: 60vw;
    height: 60vh;
    border-radius: 1rem;
    border: 2px solid black;
    margin-left: 300px;
    margin-top: 98vh;
    z-index: 6;
    background: linear-gradient(to left bottom, #6153cc, #80ed99); 
}

.info1{
    text-align: center;
    height: 40px;
    align-content: center;
    width: 210px;
    border: 2px solid rgb(84, 4, 84);
    margin-top: 5px;
    margin-left: 42%;
    border-radius: 0.8rem;
}

.info2 {
    margin-left: 50px;
    font-size: larger;
}

  
.info2 p::before {
    content: "•"; 
    margin-right: 10px; 
    font-size: 1.2rem; 
    color: blue; 
  }

  .info0{
    position: absolute;
    margin-left: 52%;
    margin-top:-2%;
    /* width: 50px; */
    /* height: 50px; */
    /* z-index: 7; */
    color: white;
    font-size: 35px;
  }